{% extends 'base.html' %}
{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">☕️ Coffee & Wifi 💻</h1>
  <p class="lead">Want to work in a cafe but need power and wifi?</p>
  <hr class="my-4">
  <p>You found the right place! Checkout cafes with data on power socket availability, wifi speed, coffee and tea quality, smoothies, breakfast and lunch items, and baked goods.</p>
        <img src="static/cafe-clipart3.jpg" class="center">
        </br>
        </br>
        <a class="btn btn-warning btn-lg" href=" {{ url_for('cafes') }} " role="button">Show Cafes!</a>
</div>
    </div>


{% endblock %}